/* @media */

/* background */
.bg-black     { background-color: #000000; }
.bg-grey      { background-color: #999999; }
.bg-silver    { background-color: #EEEEEE; }
.bg-blue      { background-color: #4990E2; }
.bg-red       { background-color: #D0011B; }
.bg-orange    { background-color: #F6A623; }
.bg-green     { background-color: #6FC214; }
.bg-white     { background-color: #FFFFFF; }

/*  background-images */
.bg-center    { background-repeat: no-repeat; background-position: center center; }
.cover        { background-size: cover; }
.bg-fade70    { background-color: rgba( 85, 85, 85, .7 ); }

/* border-radius */
.br0          { border-radius: 0; }
.br1          { border-radius: .125rem; }
.br2          { border-radius: .25rem; }
.br3          { border-radius: .5rem; }
.br4          { border-radius: 1rem; }
.br-100       { border-radius: 100%; }
.br-pill      { border-radius: 9999px; }
.br-bottom    { border-top-left-radius: 0; border-top-right-radius: 0; }
.br-top       { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.br-right     { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.br-left      { border-top-right-radius: 0; border-bottom-right-radius: 0; }

/* border-collapse */
.border-collapse   { border-collapse: collapse; border-spacing: 0; }

/* border-color */
.border-black    { border-color: #000000; }
.border-grey     { border-color: #999999; }
.border-silver   { border-color: #CCCCCC; }
.border-blue     { border-color: #4990E2; }
.border-red      { border-color: #D0011B; }
.border-orange   { border-color: #F6A623; }
.border-green    { border-color: #6FC214; }
.border-white    { border-color: #FFFFFF; }
.border-light-grey   { border-color: #E1E8ED; }

/* border-style */
.ba { border-style: solid; border-width: 1px; }
.bt { border-top-style: solid; border-top-width: 1px; }
.br { border-right-style: solid; border-right-width: 1px; }
.bb { border-bottom-style: solid; border-bottom-width: 1px; }
.bl { border-left-style: solid; border-left-width: 1px; }
.bn { border-style: none; border-width: 0; }

/* border-width */
.bw0 { border-width: 0; }
.bw1 { border-width: .125rem; }
.bw2 { border-width: .25rem; }
.bw3 { border-width: .5rem; }
.bw4 { border-width: 1rem; }
.bw5 { border-width: 2rem; }
.bw5 { border-width: 4rem; }
.bw6 { border-width: 6rem; }

/* box-sizing */
.border-box { box-sizing: border-box; }

/* box-shadow */
.shadow { box-shadow: 0 1px 2px 2px rgba( 0, 0, 0, .1 ); }

/* top */
.top0 { top: 0; }
.top1 { top: 1rem; }
.top2 { top: 2rem; }
.top3 { top: 3rem; }
.top4 { top: 4rem; }

.top-1 { top: -1rem; }
.top-2 { top: -2rem; }
.top-3 { top: -3rem; }
.top-4 { top: -4rem; }

/* right */
.right0 { right: 0; }
.right1 { right: 1rem; }
.right2 { right: 2rem; }
.right3 { right: 3rem; }
.right4 { right: 4rem; }

.right-1 { right: -1rem; }
.right-2 { right: -2rem; }
.right-3 { right: -3rem; }
.right-4 { right: -4rem; }

/* bottom */
.bottom0 { bottom: 0; }
.bottom1 { bottom: 1rem; }
.bottom2 { bottom: 2rem; }
.bottom3 { bottom: 3rem; }
.bottom4 { bottom: 4rem; }

.bottom-1 { bottom: -1rem; }
.bottom-2 { bottom: -2rem; }
.bottom-3 { bottom: -3rem; }
.bottom-4 { bottom: -4rem; }

/* left */
.left0 { left: 0; }
.left1 { left: 1rem; }
.left2 { left: 2rem; }
.left3 { left: 3rem; }
.left4 { left: 4rem; }

.left-1 { left: -1rem; }
.left-2 { left: -2rem; }
.left-3 { left: -3rem; }
.left-4 { left: -4rem; }

/*  Nicolas Gallagher Clearfix  http://nicolasgallagher.com/micro-clearfix-hack/  */
.cf:before, .cf:after   { content: " "; display: table; }
.cf:after               { clear: both; }
.cf                     { *zoom: 1; }

/* text-color */
.white          { color: #FFFFFF; }
.silver         { color: #EEEEEE; }
.black          { color: #000000; }
.dark-grey      { color: #555555; }
.grey           { color: #999999; }
.blue           { color: #4990E2; }
.red            { color: #D0011B; }
.green          { color: #7ED321; }
.orange         { color: #F6A623; }
.yellow         { color: #FFEF00; }
.light-grey  { color: #8899A6; }

/* cursor */
.pointer         { cursor: pointer;  }
.not-allowed     { cursor: not-allowed; }
            
/* display */
.dn              { display: none; }
.di              { display: inline; }
.db              { display: block; }
.dib             { display: inline-block; }
.dt              { display: table; }
.dtrow           { display: table-row; }
.dtcell          { display: table-cell; }
.flex            { display: flex; }
.justify-center  { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.items-end       { -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
.inline-flex     { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; }
.self-center     { align-self: center; }
       
/* float */
.fl { float: left; }
.fr { float: right; }
.fn { float: none; }

/* font-family */
.system-font  { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", sans-serif; }

/* font-size */
.fstiny {font-size: .7rem; }
.fs1    { font-size: .875rem; }
.fs2    { font-size: 1rem; }
.fs3    { font-size: 1.25rem; }
.fs4    { font-size: 1.5rem; }
.fs5    { font-size: 1.75rem; }
.fs6    { font-size: 2rem; }
.fs7    { font-size: 2.25rem; }
.fs8    { font-size: 2.5rem; }
.fs9    { font-size: 2.75rem; }
.fs10   { font-size: 3rem; }
.fs11   { font-size: 5rem; }

/* font-style */
.italic { font-style: italic; }

/* font-weight */
.fw100 { font-weight: 100; }
.fw200 { font-weight: 200; }
.fw300 { font-weight: 300; }
.fw400 { font-weight: 400; }
.fw500 { font-weight: 500; }
.fw600 { font-weight: 600; }
.fw700 { font-weight: 700; }
.fw800 { font-weight: 800; }
.fw900 { font-weight: 900; }

/* height */
.h1 { height: 1rem; }
.h2 { height: 2rem; }
.h3 { height: 3rem; }
.h4 { height: 4rem; }
.h5 { height: 8rem; }
.h6 { height: 16rem; }
.h25     { height: 25%; }
.h50     { height: 50%; }
.h75     { height: 75%; }
.h100    { height: 100%; }

/* line-height */
.lh-heading  { line-height: 1.25; }
.lh-body     { line-height: 1.5; }

.list-none { list-style-type: none; }

/* margin */
.center { margin-right: auto; margin-left: auto; }
.ma0    { margin: 0; }
.ma1    { margin: .25rem; }
.ma2    { margin: .5rem; }
.ma3    { margin: 1rem; }
.ma4    { margin: 2rem; }
.ma5    { margin: 4rem; }
.ma6    { margin: 8rem; }

/* margin-bottom */
.mb0 { margin-bottom: 0; }
.mb1 { margin-bottom: .25rem; }
.mb2 { margin-bottom: .5rem; }
.mb3 { margin-bottom: 1rem; }
.mb4 { margin-bottom: 2rem; }
.mb5 { margin-bottom: 4rem; }
.mb6 { margin-bottom: 8rem; }

/* margin-left */
.ml0 { margin-left: 0; }
.ml1 { margin-left: .25rem; }
.ml2 { margin-left: .5rem; }
.ml3 { margin-left: 1rem; }
.ml4 { margin-left: 2rem; }
.ml5 { margin-left: 4rem; }
.ml6 { margin-left: 8rem; }

/* margin-right */
.mr0 { margin-right: 0; }
.mr1 { margin-right: .25rem; }
.mr2 { margin-right: .5rem; }
.mr3 { margin-right: 1rem; }
.mr4 { margin-right: 2rem; }
.mr5 { margin-right: 4rem; }
.mr6 { margin-right: 8rem; }

/* margin-top */
.mt0 { margin-top: 0; }
.mt1 { margin-top: .25rem; }
.mt2 { margin-top: .5rem; }
.mt3 { margin-top: 1rem; }
.mt4 { margin-top: 2rem; }
.mt5 { margin-top: 4rem; }
.mt6 { margin-top: 8rem; }

/* margin-top and margin-bottom */
.mv0 { margin-top: 0; margin-bottom: 0; }
.mv1 { margin-top: .25rem; margin-bottom: .25rem; }
.mv2 { margin-top: .5rem; margin-bottom: .5rem; }
.mv3 { margin-top: 1rem; margin-bottom: 1rem; }
.mv4 { margin-top: 2rem; margin-bottom: 2rem; }
.mv5 { margin-top: 4rem; margin-bottom: 4rem; }
.mv6 { margin-top: 8rem; margin-bottom: 8rem; }

/* margin-right and margin-left */
.mh0 { margin-left: 0; margin-right: 0; }
.mh1 { margin-left: .25rem; margin-right: .25rem; }
.mh2 { margin-left: .5rem; margin-right: .5rem; }
.mh3 { margin-left: 1rem; margin-right: 1rem; }
.mh4 { margin-left: 2rem; margin-right: 2rem; }
.mh5 { margin-left: 4rem; margin-right: 4rem; }
.mh6 { margin-left: 8rem; margin-right: 8rem; }

/* max-width */
.mw1      { max-width: 1rem; }
.mw2      { max-width: 2rem; }
.mw3      { max-width: 3rem; }
.mw4      { max-width: 4rem; }
.mw5      { max-width: 5rem; }
.mw6      { max-width: 6rem; }
.mw7      { max-width: 7rem; }
.mw8      { max-width: 8rem; }
.mw9      { max-width: 10rem; }
.mw10     { max-width: 12rem; }
.mw11     { max-width: 20rem; }
.mw12     { max-width: 24rem; }
.mw13     { max-width: 30rem; }
.mw14     { max-width: 36rem; }
.mw15     { max-width: 64rem; }
.mw16     { max-width: 96rem; }
.mw100    { max-width: 100%; }

/* min-height */

/* min-width */
.min-width-1  { min-width: 1rem; }
.min-width-2  { min-width: 1.5rem; }

/* overflow */
.overflow-visible     { overflow: visible; }
.overflow-hidden      { overflow: hidden; }
.overflow-scroll      { overflow: scroll; }
.overflow-auto        { overflow: auto; }
.overflow-x-visible   { overflow-x: visible; }
.overflow-x-hidden    { overflow-x: hidden; }
.overflow-x-scroll    { overflow-x: scroll; }
.overflow-x-auto      { overflow-x: auto; }
.overflow-y-visible   { overflow-y: visible; }
.overflow-y-hidden    { overflow-y: hidden; }
.overflow-y-scroll    { overflow-y: scroll; }
.overflow-y-auto      { overflow-y: auto; }

/* padding */
.pa0 { padding: 0; }
.pa1 { padding: .25rem; }
.pa2 { padding: .5rem; }
.pa3 { padding: 1rem; }
.pa4 { padding: 2rem; }
.pa5 { padding: 4rem; }
.pa6 { padding: 8rem; }
.pa7 { padding: 16rem; }

/* padding-bottom */
.pb0 { padding-bottom: 0; }
.pb1 { padding-bottom: .25rem; }
.pb2 { padding-bottom: .5rem; }
.pb3 { padding-bottom: 1rem; }
.pb4 { padding-bottom: 2rem; }
.pb5 { padding-bottom: 4rem; }
.pb6 { padding-bottom: 8rem; }
.pb7 { padding-bottom: 16rem; }

/* padding-left */
.pl0 { padding-left: 0; }
.pl1 { padding-left: .25rem; }
.pl2 { padding-left: .5rem; }
.pl3 { padding-left: 1rem; }
.pl4 { padding-left: 2rem; }
.pl5 { padding-left: 4rem; }
.pl6 { padding-left: 8rem; }
.pl7 { padding-left: 16rem; }

/* padding-right */
.pr0 { padding-right: 0; }
.pr1 { padding-right: .25rem; }
.pr2 { padding-right: .5rem; }
.pr3 { padding-right: 1rem; }
.pr4 { padding-right: 2rem; }
.pr5 { padding-right: 4rem; }
.pr6 { padding-right: 8rem; }
.pr7 { padding-right: 16rem; }

/* padding-top */
.pt0 { padding-top: 0; }
.pt1 { padding-top: .25rem; }
.pt2 { padding-top: .5rem; }
.pt3 { padding-top: 1rem; }
.pt4 { padding-top: 2rem; }
.pt5 { padding-top: 4rem; }
.pt6 { padding-top: 8rem; }
.pt7 { padding-top: 16rem; }

/* padding-top and padding-bottom */
.pv1 { padding-top: .25rem; padding-bottom: .25rem; }
.pv2 { padding-top: .5rem; padding-bottom: .5rem; }
.pv3 { padding-top: 1rem; padding-bottom: 1rem; }
.pv4 { padding-top: 2rem; padding-bottom: 2rem; }
.pv5 { padding-top: 4rem; padding-bottom: 4rem; }
.pv6 { padding-top: 8rem; padding-bottom: 8rem; }
.pv7 { padding-top: 16rem; padding-bottom: 16rem; }

/* padding-right and padding-left */
.ph0 { padding-left: 0; padding-right: 0; }
.ph1 { padding-left: .25rem; padding-right: .25rem; }
.ph2 { padding-left: .5rem; padding-right: .5rem; }
.ph3 { padding-left: 1rem; padding-right: 1rem; }
.ph4 { padding-left: 2rem; padding-right: 2rem; }
.ph5 { padding-left: 4rem; padding-right: 4rem; }
.ph6 { padding-left: 8rem; padding-right: 8rem; }
.ph7 { padding-left: 16rem; padding-right: 16rem; }

/* position */
.relative    { position: relative; }
.absolute    { position: absolute; }
.fixed       { position: fixed; }

/* text-align */
.tl   { text-align: left; }
.tr   { text-align: right; }
.tc   { text-align: center; }

/* text-transform */
.ttu  { text-transform: uppercase; }

/* text-decoration */
.tdn                      { text-decoration: none; }
.tdn:link, .tdn:visited   { text-decoration: none; }
.tdn:hover                { text-decoration: none; }
.tdn:active               { text-decoration: none; }
.tdn:focus                { text-decoration: none; }
.tdu                      { text-decoration: underline; }

/* vertical-align */
.v-base { vertical-align: baseline; }
.v-mid  { vertical-align: middle; }
.v-top  { vertical-align: top; }
.v-btm  { vertical-align: bottom; }

/* width */
.w1            { width: 1rem; }
.w2            { width: 2rem; }
.w3            { width: 3rem; }
.w4            { width: 4rem; }
.w5            { width: 8rem; }
.w6            { width: 16rem; }
.w-10          { width: 10%; }
.w-20          { width: 20%; }
.w-25          { width: 25%; }
.w-30          { width: 30%; }
.w-33          { width: 33%; }
.w-34          { width: 34%; }
.w-40          { width: 40%; }
.w-50          { width: 50%; }
.w-60          { width: 60%; }
.w-70          { width: 70%; }
.w-75          { width: 75%; }
.w-80          { width: 80%; }
.w-90          { width: 90%; }
.w-100         { width: 100%; }

/* misc */
.font-antialiased        { -webkit-font-smoothing: antialiased; }
.button-press:active     { position: relative; top: 2px; }
.shake:focus             { animation-name: shake; animation-duration: 500ms; animation-fill-mode: both; }
@keyframes shake { from, to { transform: translate3d(0, 0, 0); } 20%, 60% { transform: translate3d(-5px, 0, 0); } 40%, 80% { transform: translate3d(5px, 0, 0); } }
.hover-bg-grey-grow1:hover  { background-color: #DDDDDD; transition: 100ms ease-out; transform: scale(1.1); }
.hover-bg-grey-grow2:hover  { background-color: #DDDDDD; transition: 100ms ease-out; transform: scale(1.2); }
.hover-bg-grey:hover { background-color: #DDDDDD; transition: 100ms ease-out; }
