<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Badges - UI Components</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/ui-components-v0.2.css">
  </head>

  <body class="font-antialiased ma0">
    <div class="db tc center system-font">
      <div class="ws-nowrap overflow-auto bg-silver bb border-silver pa3">
        <a href="/" class="di tdn blue pointer button-press mh2">Home</a>
        <a href="/about.html" class="di tdn blue pointer button-press mh2">About</a>
        <a href="https://github.com/philipardeljan/ui-components" class="di tdn blue pointer button-press mh2">Github</a>
        <a href="https://twitter.com/philipardeljan" class="tdn blue pointer button-press mh2">Twitter</a>
        <a href="/ui-components-v0.2.min.css.zip" class="tdn blue button-press mh2">ui-components-v0.2.min.css <span class="fstiny">(2kb)</span></a>
      </div>
        <h1 class="fs6 fw400 mv4 pt1 pb3">Badges</h1>
      </div>

    <!--component wrapper start-->
    <div class="pb6">
      <div class="db center ba border-grey br2 mw14">
        <p class="system-font fs2 grey pt3 pl3 ma0">Example</p>
        <div class="flex justify-center mt4 mb5 pt2">
          <!--#component start-->
          <span class="system-font w2 h2 flex justify-center pointer button-press fw700 br4 bg-red white">
            <div class="self-center">8</div>
          </span>
          <!--#component end-->
        </div>
        <div class="bg-silver bt border-grey">
          <p class="system-font fs2 grey pt3 pl3 ma0">Code</p>
          <pre class="fs1 monospace ws-normal ma0">
            <div class="bg-silver ws-prewrap pt2 ph3 pb3"><span>&lt;</span><span class="blue">span</span> <span class="green">class</span><span class="black">=</span><span class="purple">"system-font w2 h2 flex justify-center pointer button-press fw700 br4 bg-red white"</span><span>></span>
  <span>&lt;</span><span class="blue">div</span> <span class="green">class</span><span class="black">=</span><span class="purple">"self-center"</span><span>></span><span style='color:#008c00; '>8</span><span>&lt;/</span><span class="blue">div</span><span>></span>
<span>&lt;/</span><span class="blue">span</span><span>></span>
</pre>
        </div>
      </div>
    </div>
    <!--component wrapper end-->

    <!--component wrapper start-->
    <div class="pb6">
      <div class="db center ba border-grey br2 mw14">
        <p class="system-font fs2 grey pt3 pl3 ma0">Example</p>
        <div class="flex justify-center mt4 mb5 pt2">
          <!--component start-->
          <div class="system-font flex pointer button-press mh3">
            <p class="ma0 self-center pr2">Unread</p>
            <span class="system-font w2 h2 flex justify-center pointer fw700 br4 bg-red white">
              <div class="self-center">8</div>
            </span>
          </div>
          <!--component end-->
        </div>
        <div class="bg-silver bt border-grey">
          <p class="system-font fs2 grey pt3 pl3 ma0">Code</p>
          <pre class="fs1 monospace ws-normal ma0">
            <div class="bg-silver ws-prewrap pt2 ph3 pb3"><span>&lt;</span><span class="blue">div</span> <span class="green">class</span><span class="black">=</span><span class="purple">"system-font flex pointer button-press mh3"</span><span>></span>
  <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"ma0 self-center pr2"</span><span>></span>Unread<span>&lt;/</span><span class="blue">p</span><span>></span>
  <span>&lt;</span><span class="blue">span</span> <span class="green">class</span><span class="black">=</span><span class="purple">"system-font w2 h2 flex justify-center pointer fw700 br4 bg-red white"</span><span>></span>
    <span>&lt;</span><span class="blue">div</span> <span class="green">class</span><span class="black">=</span><span class="purple">"self-center"</span><span>></span><span style='color:#008c00; '>8</span><span>&lt;/</span><span class="blue">div</span><span>></span>
  <span>&lt;/</span><span class="blue">span</span><span>></span>
<span>&lt;/</span><span class="blue">div</span><span>></span>
</pre>
          </div>
        </div>
      </div>
      <!--component wrapper end-->

    </body>
</html>
