<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Lists - UI Components</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/ui-components-v0.1.min.css">
  </head>

  <body class="font-antialiased ma0">
    <div class="db tc center system-font">
      <div class="ws-nowrap overflow-auto bg-silver bb border-silver pa3">
        <a href="/" class="di tdn blue pointer button-press mh2">Home</a>
        <a href="/about.html" class="di tdn blue pointer button-press mh2">About</a>
        <a href="https://github.com/philipardeljan/ui-components" class="di tdn blue pointer button-press mh2">Github</a>
        <a href="https://twitter.com/philipardeljan" class="tdn blue pointer button-press mh2">Twitter</a>
        <a href="ui-components-v0.1.min.css.zip" class="tdn blue button-press mh2">ui-components-v0.1.min.css <span class="fstiny">(2kb)</span></a>
      </div>
      <h1 class="fs6 fw400 mv4 pt1 pb3">Lists</h1>
    </div>

    <!--#1 list component wrapper start-->
    <div class="pb6">
      <div class="db center ba border-grey br2 mw14">
        <p class="system-font fs2 grey pt3 pl3 ma0">Example</p>
        <div class="flex justify-center mt4 mb5 pt2">
          <!--#1 list component start-->
          <ul class="list-none system-font ma0 pa0 ba border-grey br2">
            <li class="pv2 pr4 pl2 bb border-grey pointer hover-bg-grey">Christian Ericssen</li>
            <li class="pv2 pr4 pl2 bb border-grey pointer hover-bg-grey">Angie E. Swift</li>
            <li class="pv2 pr4 pl2 bb border-grey pointer hover-bg-grey">Ronald Koeman</li>
            <li class="pv2 pr4 pl2 bb border-grey pointer hover-bg-grey">June Simmons</li>
            <li class="pv2 pr4 pl2 pointer hover-bg-grey">Calvin Johnson</li>
          </ul>
          <!--#1 list component end-->
        </div>
        <div class="bg-silver bt border-grey">
          <p class="system-font fs2 grey pt3 pl3 ma0">Code</p>
          <pre class="fs1 monospace ws-normal ma0">
            <div class="bg-silver ws-prewrap pt2 ph3 pb3"><span>&lt;</span><span class="blue">ul</span> <span class="green">class</span><span class="black">=</span><span class="purple">"list-none system-font ma0 pa0 ba border-grey br2"</span><span>></span>
  <span>&lt;</span><span class="blue">li</span> <span class="green">class</span><span class="black">=</span><span class="purple">"pv2 pr4 pl2 bb border-grey pointer hover-bg-grey"</span><span>></span>Christian Ericssen<span>&lt;/</span><span class="blue">li</span><span>></span>
  <span>&lt;</span><span class="blue">li</span> <span class="green">class</span><span class="black">=</span><span class="purple">"pv2 pr4 pl2 bb border-grey pointer hover-bg-grey"</span><span>></span>Angie E<span style='color:#008c00; '>.</span> Swift<span>&lt;/</span><span class="blue">li</span><span>></span>
  <span>&lt;</span><span class="blue">li</span> <span class="green">class</span><span class="black">=</span><span class="purple">"pv2 pr4 pl2 bb border-grey pointer hover-bg-grey"</span><span>></span>Ronald Koeman<span>&lt;/</span><span class="blue">li</span><span>></span>
  <span>&lt;</span><span class="blue">li</span> <span class="green">class</span><span class="black">=</span><span class="purple">"pv2 pr4 pl2 bb border-grey pointer hover-bg-grey"</span><span>></span>June Simmons<span>&lt;/</span><span class="blue">li</span><span>></span>
  <span>&lt;</span><span class="blue">li</span> <span class="green">class</span><span class="black">=</span><span class="purple">"pv2 pr4 pl2 pointer hover-bg-grey"</span><span>></span>Calvin Johnson<span>&lt;/</span><span class="blue">li</span><span>></span>
<span>&lt;/</span><span class="blue">ul</span><span>></span></pre>
          </div>
        </div>
      </div>
    <!--#1 list component wrapper end-->

    <!--#2 list component wrapper start-->
    <div class="pb6">
      <div class="db center ba border-grey br2 mw14">
        <p class="system-font fs2 grey pt3 pl3 ma0">Example</p>
        <div class="flex justify-center mt4 mb5 pt2">
          <!--#2 list component start-->
          <ul class="list-none system-font ma0 pa0 ba border-grey br2">
            <li class="flex pv3 pr4 pl2 bb border-grey pointer hover-bg-grey">
              <div class="w2 h2 bg-purple ba border-purple br100pc mt1 mh3"></div>
              <div>
                <p class="self-center ma0 mb1">Christian Ericssen</p>
                <p class="self-center dark-grey ma0">CEO</p>
              </div>
            </li>
            <li class="flex pv3 pr4 pl2 bb border-grey pointer hover-bg-grey">
              <div class="w2 h2 bg-blue ba border-blue br100pc mt1 mh3"></div>
              <div>
                <p class="self-center ma0 mb1">Angie. E Swift</p>
                <p class="self-center dark-grey ma0">VP of Sales</p>
              </div>
            </li>
            <li class="flex pv3 pr4 pl2 bb border-grey pointer hover-bg-grey">
              <div class="w2 h2 bg-red ba border-red br100pc mt1 mh3"></div>
              <div>
                <p class="self-center ma0 mb1">Ronald Koeman</p>
                <p class="self-center dark-grey ma0">Advisory Board</p>
              </div>
            </li>
            <li class="flex pv3 pr4 pl2 bb border-grey pointer hover-bg-grey">
              <div class="w2 h2 bg-orange ba border-orange br100pc mt1 mh3"></div>
              <div>
                <p class="self-center ma0 mb1">June Simmons</p>
                <p class="self-center dark-grey ma0">Social Content Manager</p>
              </div>
            </li>
            <li class="flex pv3 pr4 pl2 pointer hover-bg-grey">
              <div class="w2 h2 bg-green ba border-green br100pc mt1 mh3"></div>
              <div>
                <p class="self-center ma0 mb1">Calvin Johnson</p>
                <p class="self-center dark-grey ma0">VP of Sales</p>
              </div>
            </li>
          </ul>
          <!--#2 list component end-->
        </div>
        <div class="bg-silver bt border-grey">
          <p class="system-font fs2 grey pt3 pl3 ma0">Code</p>
          <pre class="fs1 monospace ws-normal h10 overflow-auto ma0">
            <div class="bg-silver ws-prewrap pt2 ph3 pb3"><span>&lt;</span><span class="blue">ul</span> <span class="green">class</span><span class="black">=</span><span class="purple">"list-none system-font ma0 pa0 ba border-grey br2"</span><span>></span>
  <span>&lt;</span><span class="blue">li</span> <span class="green">class</span><span class="black">=</span><span class="purple">"flex pv3 pr4 pl2 bb border-grey pointer hover-bg-grey"</span><span>></span>
    <span>&lt;</span><span class="blue">div</span> <span class="green">class</span><span class="black">=</span><span class="purple">"w2 h2 bg-purple ba border-purple br100pc mt1 mh3"</span><span>></span><span>&lt;/</span><span class="blue">div</span><span>></span>
    <span>&lt;</span><span class="blue">div</span><span>></span>
      <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"self-center ma0 mb1"</span><span>></span>Christian Ericssen<span>&lt;/</span><span class="blue">p</span><span>></span>
      <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"self-center dark-grey ma0"</span><span>></span>CEO<span>&lt;/</span><span class="blue">p</span><span>></span>
    <span>&lt;/</span><span class="blue">div</span><span>></span>
  <span>&lt;/</span><span class="blue">li</span><span>></span>
  <span>&lt;</span><span class="blue">li</span> <span class="green">class</span><span class="black">=</span><span class="purple">"flex pv3 pr4 pl2 bb border-grey pointer hover-bg-grey"</span><span>></span>
    <span>&lt;</span><span class="blue">div</span> <span class="green">class</span><span class="black">=</span><span class="purple">"w2 h2 bg-blue ba border-blue br100pc mt1 mh3"</span><span>></span><span>&lt;/</span><span class="blue">div</span><span>></span>
    <span>&lt;</span><span class="blue">div</span><span>></span>
      <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"self-center ma0 mb1"</span><span>></span>Angie<span style='color:#008c00; '>.</span> E Swift<span>&lt;/</span><span class="blue">p</span><span>></span>
      <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"self-center dark-grey ma0"</span><span>></span>VP of Sales<span>&lt;/</span><span class="blue">p</span><span>></span>
    <span>&lt;/</span><span class="blue">div</span><span>></span>
  <span>&lt;/</span><span class="blue">li</span><span>></span>
  <span>&lt;</span><span class="blue">li</span> <span class="green">class</span><span class="black">=</span><span class="purple">"flex pv3 pr4 pl2 bb border-grey pointer hover-bg-grey"</span><span>></span>
    <span>&lt;</span><span class="blue">div</span> <span class="green">class</span><span class="black">=</span><span class="purple">"w2 h2 bg-red ba border-red br100pc mt1 mh3"</span><span>></span><span>&lt;/</span><span class="blue">div</span><span>></span>
    <span>&lt;</span><span class="blue">div</span><span>></span>
      <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"self-center ma0 mb1"</span><span>></span>Ronald Koeman<span>&lt;/</span><span class="blue">p</span><span>></span>
      <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"self-center dark-grey ma0"</span><span>></span>Advisory Board<span>&lt;/</span><span class="blue">p</span><span>></span>
    <span>&lt;/</span><span class="blue">div</span><span>></span>
  <span>&lt;/</span><span class="blue">li</span><span>></span>
  <span>&lt;</span><span class="blue">li</span> <span class="green">class</span><span class="black">=</span><span class="purple">"flex pv3 pr4 pl2 bb border-grey pointer hover-bg-grey"</span><span>></span>
    <span>&lt;</span><span class="blue">div</span> <span class="green">class</span><span class="black">=</span><span class="purple">"w2 h2 bg-orange ba border-orange br100pc mt1 mh3"</span><span>></span><span>&lt;/</span><span class="blue">div</span><span>></span>
    <span>&lt;</span><span class="blue">div</span><span>></span>
      <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"self-center ma0 mb1"</span><span>></span>June Simmons<span>&lt;/</span><span class="blue">p</span><span>></span>
      <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"self-center dark-grey ma0"</span><span>></span>Social Content Manager<span>&lt;/</span><span class="blue">p</span><span>></span>
    <span>&lt;/</span><span class="blue">div</span><span>></span>
  <span>&lt;/</span><span class="blue">li</span><span>></span>
  <span>&lt;</span><span class="blue">li</span> <span class="green">class</span><span class="black">=</span><span class="purple">"flex pv3 pr4 pl2 pointer hover-bg-grey"</span><span>></span>
    <span>&lt;</span><span class="blue">div</span> <span class="green">class</span><span class="black">=</span><span class="purple">"w2 h2 bg-green ba border-green br100pc mt1 mh3"</span><span>></span><span>&lt;/</span><span class="blue">div</span><span>></span>
    <span>&lt;</span><span class="blue">div</span><span>></span>
      <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"self-center ma0 mb1"</span><span>></span>Calvin Johnson<span>&lt;/</span><span class="blue">p</span><span>></span>
      <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"self-center dark-grey ma0"</span><span>></span>VP of Sales<span>&lt;/</span><span class="blue">p</span><span>></span>
    <span>&lt;/</span><span class="blue">div</span><span>></span>
  <span>&lt;/</span><span class="blue">li</span><span>></span>
<span>&lt;/</span><span class="blue">ul</span><span>></span></pre>
        </div>
      </div>
    </div>
    <!--#2 list component wrapper end-->
    </body>
</html>
