<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Pills - UI Components</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/ui-components-v0.2.min.css">
  </head>

  <body class="font-antialiased ma0">
    <div class="db tc center system-font">
      <div class="ws-nowrap overflow-auto bg-silver bb border-silver pa3">
        <a href="/" class="di tdn blue pointer button-press mh2">Home</a>
        <a href="/about.html" class="di tdn blue pointer button-press mh2">About</a>
        <a href="https://github.com/philipardeljan/ui-components" class="di tdn blue pointer button-press mh2">Github</a>
        <a href="https://twitter.com/philipardeljan" class="tdn blue pointer button-press mh2">Twitter</a>
        <a href="/ui-components-v0.2.min.css.zip" class="tdn blue button-press mh2">ui-components-v0.2.min.css <span class="fstiny">(2kb)</span></a>
      </div>
      <h1 class="fs6 fw400 mv4 pt1 pb3">Pills</h1>
    </div>

    <!--pill component wrapper start-->
    <div class="pb6">
      <div class="db center ba border-grey br2 mw14">
        <p class="system-font fs2 grey pt3 pl3 ma0">Block style row</p>
        <div class="flex justify-center mt4 mb5 pt2">
          <!--pill component start-->
          <div class="system-font fs2 tc white">
            <p class="dib center bg-purple br-pill pv2 ph3 ma1 pointer">
              Open
              <span class="fs1">7</span>
            </p>
            <p class="dib center bg-blue br-pill pv2 ph3 ma1 pointer">
              Static
              <span class="fs1">3</span>
            </p>
            <p class="dib center bg-red br-pill pv2 ph3 ma1 pointer">
              Expired
              <span class="fs1">12</span>
            </p>
            <p class="dib center bg-green br-pill pv2 ph3 ma1 pointer">
              Active
              <span class="fs1">6</span>
            </p>
          </div>
          <!--pill component end-->
        </div>
        <div class="bg-silver bt border-grey">
          <p class="system-font fs2 grey pt3 pl3 ma0">Code</p>
          <pre class="fs1 monospace ws-normal h10 overflow-auto ma0">
            <div class="bg-silver ws-prewrap pt2 ph3 pb3"><span>&lt;</span><span class="blue">div</span> <span class="green">class</span><span class="black">=</span><span class="purple">"system-font fs2 tc white"</span><span>></span>
  <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"dib center bg-purple br-pill pv2 ph3 ma1 pointer"</span><span>></span>
    Open
    <span>&lt;</span><span class="blue">span</span> <span class="green">class</span><span class="black">=</span><span class="purple">"fs1"</span><span>></span><span style='color:#008c00; '>7</span><span>&lt;/</span><span class="blue">span</span><span>></span>
  <span>&lt;/</span><span class="blue">p</span><span>></span>
  <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"dib center bg-blue br-pill pv2 ph3 ma1 pointer"</span><span>></span>
    Static
    <span>&lt;</span><span class="blue">span</span> <span class="green">class</span><span class="black">=</span><span class="purple">"fs1"</span><span>></span><span style='color:#008c00; '>3</span><span>&lt;/</span><span class="blue">span</span><span>></span>
  <span>&lt;/</span><span class="blue">p</span><span>></span>
  <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"dib center bg-red br-pill pv2 ph3 ma1 pointer"</span><span>></span>
    Expired
    <span>&lt;</span><span class="blue">span</span> <span class="green">class</span><span class="black">=</span><span class="purple">"fs1"</span><span>></span><span style='color:#008c00; '>12</span><span>&lt;/</span><span class="blue">span</span><span>></span>
  <span>&lt;/</span><span class="blue">p</span><span>></span>
  <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"dib center bg-green br-pill pv2 ph3 ma1 pointer"</span><span>></span>
    Active
    <span>&lt;</span><span class="blue">span</span> <span class="green">class</span><span class="black">=</span><span class="purple">"fs1"</span><span>></span><span style='color:#008c00; '>6</span><span>&lt;/</span><span class="blue">span</span><span>></span>
  <span>&lt;/</span><span class="blue">p</span><span>></span>
<span>&lt;/</span><span class="blue">div</span><span>></span></pre>
          </div>
        </div>
      </div>
    <!--pill component wrapper end-->

    <!--pill component wrapper start-->
    <div class="pb6">
      <div class="db center ba border-grey br2 mw14">
        <p class="system-font fs2 grey pt3 pl3 ma0">Line style row</p>
        <div class="flex justify-center mt4 mb5 pt2">
          <!--pill component start-->
          <div class="fs2 tc system-font">
            <p class="dib center br-pill pv2 ph3 mh1 purple ba border-purple pointer">
              Open
              <span class="fs1">7</span>
            </p>
            <p class="dib center br-pill pv2 ph3 mh1 blue ba border-blue pointer">
              Static
              <span class="fs1">3</span>
            </p>
            <p class="dib center br-pill pv2 ph3 mh1 red ba border-red pointer">
              Expired
              <span class="fs1">12</span>
            </p>
            <p class="dib center br-pill pv2 ph3 mh1 green ba border-green pointer">
              Active
              <span class="fs1">6</span>
            </p>
          </div>
          <!--pill component end-->
        </div>
        <div class="bg-silver bt border-grey">
          <p class="system-font fs2 grey pt3 pl3 ma0">Code</p>
          <pre class="fs1 monospace ws-normal h10 overflow-auto ma0">
            <div class="bg-silver ws-prewrap pt2 ph3 pb3"><span>&lt;</span><span class="blue">div</span> <span class="green">class</span><span class="black">=</span><span class="purple">"fs2 tc system-font"</span><span>></span>
  <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"dib center br-pill pv2 ph3 mh1 purple ba border-purple pointer"</span><span>></span>
    Open
    <span>&lt;</span><span class="blue">span</span> <span class="green">class</span><span class="black">=</span><span class="purple">"fs1"</span><span>></span><span style='color:#008c00; '>7</span><span>&lt;/</span><span class="blue">span</span><span>></span>
  <span>&lt;/</span><span class="blue">p</span><span>></span>
  <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"dib center br-pill pv2 ph3 mh1 blue ba border-blue pointer"</span><span>></span>
    Static
    <span>&lt;</span><span class="blue">span</span> <span class="green">class</span><span class="black">=</span><span class="purple">"fs1"</span><span>></span><span style='color:#008c00; '>3</span><span>&lt;/</span><span class="blue">span</span><span>></span>
  <span>&lt;/</span><span class="blue">p</span><span>></span>
  <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"dib center br-pill pv2 ph3 mh1 red ba border-red pointer"</span><span>></span>
    Expired
    <span>&lt;</span><span class="blue">span</span> <span class="green">class</span><span class="black">=</span><span class="purple">"fs1"</span><span>></span><span style='color:#008c00; '>12</span><span>&lt;/</span><span class="blue">span</span><span>></span>
  <span>&lt;/</span><span class="blue">p</span><span>></span>
  <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"dib center br-pill pv2 ph3 mh1 green ba border-green pointer"</span><span>></span>
    Active
    <span>&lt;</span><span class="blue">span</span> <span class="green">class</span><span class="black">=</span><span class="purple">"fs1"</span><span>></span><span style='color:#008c00; '>6</span><span>&lt;/</span><span class="blue">span</span><span>></span>
  <span>&lt;/</span><span class="blue">p</span><span>></span>
<span>&lt;/</span><span class="blue">div</span><span>></span></pre>
          </div>
        </div>
      </div>
    <!--pill component wrapper end-->

    <!--pill component wrapper start-->
    <div class="pb6">
      <div class="db center ba border-grey br2 mw14">
        <p class="system-font fs2 grey pt3 pl3 ma0">Half radius</p>
        <div class="flex justify-center mt4 mb5 pt2">
          <!--pill component start-->
          <div class="system-font fs2 tc">
            <p class="fs2 dib tc center system-font br-pill pv2 ph3 mh1 blue br-left ba border-blue pointer">
              Open
              <span class="fs1">7</span>
            </p>
            <p class="fs2 dib tc center system-font br-pill pv2 ph3 mh1 red br-right ba border-red pointer">
              Closed
              <span class="fs1">3</span>
            </p>
          </div>
          <!--pill component end-->
        </div>
        <div class="bg-silver bt border-grey">
          <p class="system-font fs2 grey pt3 pl3 ma0">Code</p>
          <pre class="fs1 monospace ws-normal ma0">
            <div class="bg-silver ws-prewrap pt2 ph3 pb3"><span>&lt;</span><span class="blue">div</span> <span class="green">class</span><span class="black">=</span><span class="purple">"system-font fs2 tc"</span><span>></span>
  <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"fs2 dib tc center system-font br-pill pv2 ph3 mh1 blue br-left ba border-blue pointer"</span><span>></span>
    Open
    <span>&lt;</span><span class="blue">span</span> <span class="green">class</span><span class="black">=</span><span class="purple">"fs1"</span><span>></span><span style='color:#008c00; '>7</span><span>&lt;/</span><span class="blue">span</span><span>></span>
  <span>&lt;/</span><span class="blue">p</span><span>></span>
  <span>&lt;</span><span class="blue">p</span> <span class="green">class</span><span class="black">=</span><span class="purple">"fs2 dib tc center system-font br-pill pv2 ph3 mh1 red br-right ba border-red pointer"</span><span>></span>
    Closed
    <span>&lt;</span><span class="blue">span</span> <span class="green">class</span><span class="black">=</span><span class="purple">"fs1"</span><span>></span><span style='color:#008c00; '>3</span><span>&lt;/</span><span class="blue">span</span><span>></span>
  <span>&lt;/</span><span class="blue">p</span><span>></span>
<span>&lt;/</span><span class="blue">div</span><span>></span></pre>
          </div>
        </div>
      </div>
    <!--pill component wrapper end-->
  </body>
</html>
